@font-face {
  font-family: bogle;
  src: url("./../assets/fonts/Bogle/BOGLEREGULAR.OTF");
}

.container1 {
  position: relative;
  margin-bottom: 140px;
  width: 1920px;
  height: 538px;
  background-image: url(/src/assets/images/background1.png);
}

.container1 > #spark {
  position: absolute;
  width: 90px;
  height: 100px;
  top: 400px;
  right: 58px;
}

.container2 {
  position: relative;
  margin-bottom: 100px;
  width: 1920px;
  height: 158px;
  border: 1px solid #000000;
  box-sizing: border-box;
  background-image: url(/src/assets/images/background2.png);
}

.container2 > #label1 {
  position: absolute;
  left: 192px;
  top: 58px;
  font-family: "Bogle";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  color: #ffffff;
}

.container2 > #ball1 {
  position: absolute;
  width: 155px;
  height: 158px;
  left: 868px;
  border: 1px solid #000000;
  box-sizing: border-box;
  cursor: pointer;
}

.container2 > #ball1:hover {
  opacity: 0.5;
}

.container2 > #label2 {
  position: absolute;
  left: 1051px;
  top: 54px;
  font-family: "Bogle";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  color: #ffffff;
}

.container3 {
  position: relative;
  margin-bottom: 100px;
  width: 1920px;
  height: 158px;
  background-image: url(/src/assets/images/background3.png);
}

.container3 > #label1 {
  position: absolute;
  left: 119px;
  top: 62px;
  font-family: "Bogle";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  color: #ffffff;
}

.container3 > #ball1 {
  position: absolute;
  width: 155px;
  height: 158px;
  left: 503px;
}

.container3 > #label2 {
  position: absolute;
  left: 693px;
  top: 58px;
  font-family: "Bogle";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  color: #ffffff;
}

.container3 > #ball2 {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 17px;
  right: 561px;
}

.container3 > #ball3 {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 17px;
  right: 427px;
}

.container3 > #ball4 {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 17px;
  right: 293px;
}

.container3 > #ball5 {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 17px;
  right: 156px;
}
